/*div {
    border: 1px solid white;
}*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    position: relative;
}

h1, h4 {
    font-family: 'Macondo';
    font-weight: normal;
    text-align: center;
}

nav {
    background-color: black;
    font-family: 'Macondo';
}

nav ul {
    transform: translateX(40%);
    webkit-transform: translateX(-40%);
}

section {
    height: 100vh;
    padding-top: 80px;
}

img.photo{
  text-align: center;
  width: 100%;
}
.presText{
  border-left: 1px solid white;
  height: 50vh;
  text-align: justify;
}
